<div class="relative w-full">
  <ul class="p-4">
    <li class="pt-4">
      <button
        routerLink="/projects"
        icon="menu"
        tuiButton
        type="button"
        appearance="flat"
        class="w-full justify-start"
        size="m"
        iconStart="@tui.settings"
      >
        <span class="font-normal">Проекты</span>
      </button>
    </li>
    <li class="pt-4">
      <button
        routerLink="/projects"
        icon="menu"
        tuiButton
        type="button"
        appearance="flat"
        class="w-full justify-start"
        size="m"
        iconStart="@tui.settings"
      >
        <span class="font-normal">Настройки</span>
      </button>
    </li>
    <li class="pt-4">
      <button
        (click)="signOut()"
        icon="menu"
        tuiButton
        type="button"
        appearance="flat"
        class="w-full justify-start"
        size="m"
        iconStart="@tui.log-out"
      >
        <span class="font-normal"> Выйти </span>
      </button>
    </li>
  </ul>
  <ng-content></ng-content>
</div>
